:root {
  --max-width: 1100px;

  --primary: #b488f2;
  --primary-light: #cdaaff;
  --dark: rgb(12, 13, 16, 1);
  --light: rgb(250, 250, 250);
  --muted: rgba(250, 250, 250, 0.5);

  --background-start: rgb(34, 39, 55);
  --background-end: rgb(12, 13, 16);

  --btn-bg-primary: var(--primary-light);
  --btn-text-primary: var(--dark);
  --btn-bg-hover-primary: var(--primary);

  --btn-bg-light: var(--light);
  --btn-text-light: var(--dark);
  --btn-bg-hover-light: var(--light);

  --btn-bg-outline: transparent;
  --btn-border-outline: var(--light);
  --btn-text-outline: var(--light);
  --btn-bg-hover-outline: var(--light);

  --btn-bg-ghost: rgb(34, 39, 55);
  --btn-border-ghost: transparent;
  --btn-text-ghost: var(--light);
  --btn-bg-hover-ghost: rgb(43, 49, 70);

  --swiper-pagination-color: var(--primary);
  --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 1);

  --error: rgb(246, 98, 98);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  position: relative;
  background: var(--background-end);
}

body {
  background: var(--background-end);
  background: radial-gradient(
    circle at center top,
    var(--background-end) 0%,
    var(--background-start) 0%,
    var(--background-end) 50%
  );
  background-repeat: no-repeat;
  color: var(--light);
  font-size: 1rem;
  font-family: var(--font-bagoss);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

h2,
h4,
p {
  letter-spacing: 0.01em;
  font-weight: 400;
}

h2 {
  margin: 24px 0;
  font-size: 28px;
  line-height: 33.6px;
}

h4 {
  margin: 24px 0;
  font-size: 22px;
  line-height: 27.5px;
}

.container {
  margin: 0 20px;
  height: 100vh;
}

/* Base button styles */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 19px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  width: 100%;
  font-family: var(--font-sohne);
}

.btn:disabled {
  background: var(--muted);
}

/* Button variants */
.btn-primary {
  background-color: var(--btn-bg-primary);
  color: var(--btn-text-primary);
  border-color: var(--btn-bg-primary);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--btn-bg-hover-primary);
}

/* Outline variant */
.btn-outline {
  background-color: var(--btn-bg-outline);
  border-color: var(--btn-border-outline);
  color: var(--btn-text-outline);
}

.btn-outline:hover,
.btn-outline:focus {
  /* background-color: var(--btn-bg-hover-outline); */
  color: var(--light);
  box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 0.2);
}

/* Ghost variant */
.btn-ghost {
  padding: 0;
  border-radius: 999px;
  background-color: var(--btn-bg-ghost);
  border-color: var(--btn-border-ghost);
  color: var(--btn-text-ghost);
  height: 46px;
  width: 46px;
}

.btn-ghost:hover,
.btn-ghost:focus {
  border-color: var(--btn-bg-hover-ghost);
  box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 0.2);
}

.btn-light {
  background-color: var(--btn-bg-light);
  color: var(--btn-text-light);
  border-color: var(--btn-bg-light);
}

.btn-light:hover,
.btn-light:focus {
  background-color: var(--btn-bg-hover-light);
  box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 0.2);
}

.btn.hidden {
  visibility: hidden;
}

/* Input variants */
input {
  color: var(--light);
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-sohne);
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 0.2);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* Button on top of the Input */
.input-container {
  position: relative;
}

.input-container input {
  background: transparent;
  border: 1px solid var(--light);
  border-radius: 18px;
  padding: 1rem;
  width: 100%;
}

.input-container button {
  background: var(--primary-light);
  aspect-ratio: 1;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  height: 31px;
  width: 31px;
}

.input-container button svg {
  transform: rotate(90deg);
}

.error-text {
  font-size: 12px;
  margin-bottom: 1rem;
  color: var(--error);
}

/* Lottie variants */
.lottie-wrapper,
.lottie-wrapper-md,
.lottie-wrapper-sm {
  display: flex;
  justify-content: center;
  margin: 28px 0;
}

.lottie-wrapper-sm {
  margin: 32px 0;
}

.lottie-wrapper .lf-player-container {
  max-width: 274px;
}

.lottie-wrapper-md .lf-player-container {
  max-width: 146px;
}

.lottie-wrapper-sm .lf-player-container {
  max-width: 29px;
}

.action-container {
  padding: 24px 0;
}

header {
  font-family: var(--font-agrandir);
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--light);
  font-size: 18px;
  font-weight: 500;
  position: relative;
  padding: 0 20px;
  letter-spacing: 0.02em;
}

.bottom-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 24px 20px;
  width: 100%;
  flex-grow: 1;
}

.muted {
  color: var(--muted);
}

.highlight {
  background: #fabbff;
  background: linear-gradient(to right, #fabbff 0%, #b179ff 50%, #6dddff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-center {
  text-align: center;
}

.multiform-step {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.field_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 24px 20px;
  width: 100%;
  flex-grow: 1;
}

.tutorial-description {
  text-align: center;
  padding: 20px 0;
}

.result-description {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 390px) {
  body {
    max-width: 390px;
    margin: 0 auto;
  }

  .action-container {
    max-width: 350px;
    margin: auto;
  }

  .bottom-wrapper {
    position: relative;
    max-width: 350px;
    margin: 24px auto;
  }
}
/* 
.loti-container {
  height: 100vh;
  width: 390px;
  position: fixed;
  top: 0;
  z-index: -1;
}

.end-lottie {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 1px;
} */
