.highlight {
  background: #fabbff;
  background: linear-gradient(to right, #fabbff 0%, #b179ff 50%, #6dddff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  text-align: center;
}
